body {
    background-color: #000000;
    font-weight: bolder;
    font-size: x-large;
    color: white;

  }

  ul {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }

  #usedLetters {
    float: right;
    margin: auto;
    width: 30%;
    border: solid white;
    height: 350px;
  }



  ul p {
    display: inline;
  }

  .hidden {
    display: none;
  }

  #spacer  {
    margin: 150px;
    margin-left: 50px;
    width: max-content;
  }

  #container {
    width: 70%;
    float: left;
    border: solid white;
    height: 350px;
  }